* {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

.txt {
    text-transform: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.txt-primary-clr {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.bttn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-discription {
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-content {
    width: 500px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-discription {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    display: flex;
    justify-content: space-around;

}

.about-info {
    text-align: center;
    margin-right: 50px;

}

.inf-discription {
    font-weight: bold;
    margin-top: 10px;
}

.info-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
}

.section-description {
    padding: 30px 150px;
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;

}

.skill-description {
    color: #757575 ;
}
main section{
    margin-top: 130px;
}
.resume-column-title{
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume-item-title{
    color:  #474747;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-item-title-2{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.resume-item-description{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.resume-container{
    display: flex;
    gap: 50px;
    
}
.resume-container{
    padding:0px 150px;
}
.download-cv{
    text-align: center;
}
