* {
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}
.txt-primary-clr{
color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;
}
.bttn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0px;
font-size: 20px;
font-style: normal;
font-weight: 700;
color: white;
padding: 15px 35px;
}